.list-group{
    /* display: inline-block; */
    width: 300px;
}
.remove-button{
    background-color: transparent;
    border: none;
    float: right;
}
.title{
    font-size: 140%;
    font-weight: bold;
    text-align: center;
}

/* .active{
    background-image: #007acc !important;
} */

.list-group-item-info{
    color: white;
    background-color: #007acc;
    border: 1px solid #007acc;
}