.detail-franchise-name{
    color: #0c6cc4;
    font-weight: 700;
}

.detail-franchise-sdesc{
    font-size: 12px;
    color: #c16a10;
    font-weight: 600;
}

/* .detail-franchise-financial{
    
} */